<%= stylesheet_link_tag "mystyle" %>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
      <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand"><b>Hack Invoice</b></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to 'Iniciar sesion', new_user_session_path %></li>
                        <li><%= link_to 'Registrar', new_user_registration_path %></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <div class="container">
    <%= devise_error_messages! %>
</div>
    <div class="login-box">
        <div class="login-logo">
        <%= image_tag("full-logo-aeb6cec9ca9eee43393c56f9d220e49c.png")%>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Restablecer Contrase単a</p>
            <form action="../../index2.html" method="post">
                  <div class="form-group has-feedback text-center">
                    <% if @minimum_password_length %>
                        <em >(<%= @minimum_password_length %> characters minimum)</em>
                       <% end %>
                       <br>
                    <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: 'Contrase単a', class: ' fa fa-rocket form-control' %> 
                    <%= content_tag(:i, "", :class => "form-control-feedback fa fa-lock move_icon_pass") %>
                </div>
                <div class="form-group has-feedback">
                    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirma tu contrase単a', class: 'form-control'  %>
                  <%= content_tag(:i, "", :class => "form-control-feedback fa fa-lock") %>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-6 btn-center">
                        <%= f.submit "Cambiar mi contrase単a", class: 'btn btn-primary btn-flat' %>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <!-- /.social-auth-links -->
        </div>
        <!-- /.login-box-body -->
    </div>
<% end %>
